MvcApplication1/Service References/ServicePosition/ErrorInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/externalinterface/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorInfoType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>