MvcApplication1/Service References/ServicePosition/Operations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/positioning/v1" targetNamespace="http://xmlns.scania.com/fleet/schema/positioning/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../MessageContracts/FleetPosition.xsd" />
  <xs:include schemaLocation="../DataContracts/ErrorInfo.xsd" />
  <xs:element name="FleetPositionResponse" nillable="true">
    <xs:annotation>
      <xs:documentation>
        Returns the current positions for all vehicles that the company has a subscription for.
        Requires no input parameter, since the supplied user credentials will be used.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FleetPosition" type="FleetPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FleetPositionRequest" nillable="true">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FleetPositionError" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" type="ErrorInfoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>