MvcApplication1/Service References/ServicePosition/Position.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/positioning/v1" targetNamespace="http://xmlns.scania.com/fleet/schema/positioning/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PositionType">
    <xs:sequence>
      <xs:element maxOccurs="1" name="Latitude" nillable="true" type="xs:double" />
      <xs:element maxOccurs="1" name="Longitude" nillable="true" type="xs:double" />
      <xs:element maxOccurs="1" name="Speed" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="Heading" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TimePosition" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>