MvcApplication1/Service References/ServiceVehicule/DriverBehavior.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" targetNamespace="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DriverBehaviourType">
    <xs:sequence>
      <xs:element maxOccurs="1" name="TotalNoOfBrakeApplications" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalDistanceWithTrailer" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalNoOfHarshAcceleration" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalNoOfHarshBrakes" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalTimeOverreving" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalTimeOverspeeding" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="DistanceMovingWhileOutOfGear" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="DistanceWithCCActive" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="MaxRPMBraking" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="MaxRPMDriving" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="MaxSpeed" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TimeOutOfGreenBandDriving" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="Coasting" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>