MvcApplication1/Service References/ServiceVehicule/FuelConsumption.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" targetNamespace="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FuelConsumptionType">
    <xs:sequence>
      <xs:element maxOccurs="1" name="TotalFuel" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalFuelIdle" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalRuntime" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalRuntimeIdle" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalFuelPTO" nillable="true" type="xs:int" />
      <xs:element maxOccurs="1" name="TotalRuntimePTO" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>