MvcApplication1/Service References/ServiceVehicule/VehicleAnalysisOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" targetNamespace="http://xmlns.scania.com/fleet/schema/vehicleanalysis/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./VehicleAnalysis.xsd" />
  <xs:include schemaLocation="./ErrorInfo.xsd" />
  <xs:element name="VehicleAnalysisResponse" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleAnalysis" type="VehicleAnalysisType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleAnalysisRequest" nillable="true">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleAnalysisError" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" type="ErrorInfoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>